This project is django cms for my company The One Soluion for front end styling we have done in tailwind css so the index.html is the base design the future pages should follow the same theme and same style